div.button-shadow
{
    z-index: 0;
}

div.button
{
    z-index: 1;
}

div.button[data-is-checked="true"] + div.button-shadow
{
    z-index: 2;
}

div.button[data-is-checked="true"]
{
    z-index: 3;
}

div.button,
div.button-shadow
{
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
}


div.button-shadow
{
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.4);
}

div.button-content
{
    z-index: 1;
    position: absolute;
    pointer-events: none;
    -ms-pointer-events: none;
}

div.button-overlay
{
    z-index: 2;
    position: absolute;
    opacity: 0;
    background: rgba(255, 255, 255, 0.4);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    pointer-events: none;
    -ms-pointer-events: none;
}

div.toolbar-button
{
    position: absolute;
    cursor: pointer;
    top: 8px;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    overflow: hidden;
}

div.toolbar-button-image
{
    position: absolute;
    top: 8px;
    left: 8px;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    pointer-events: none;
    -ms-pointer-events: none;
}

div.toolbar-button:hover
{
    background: rgba(0, 0, 0, 0.05);
}

div.image-new
{
    background-image: url('refresh.png');
}

div.image-help
{
    background-image: url('help.png');
}

div.image-undo
{
    background-image: url('undo.png');
}

div.share-button
{
    position: absolute;
    left: 0px;
    right: 0px;
    height: 40px;
    cursor: pointer;
}

div.share-button:hover
{
    background: rgba(0, 0, 0, 0.1);
}

div.share-button div.label
{
    position: absolute;
    left: 40px;
    line-height: 40px;
    cursor: pointer;
}

div.share-button-image
{
    position: absolute;
    top: 4px;
    left: 4px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-image: url('social.png');
    background-size: 384px 32px;
}
